@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color: #dedede;
    padding: 0;
    margin: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 100%; /* Fill up the entire viewport width */
    min-width: 1024px; /* Set a minimum width to prevent shrinking */
    position: relative; /* Add position relative to allow absolute positioning within the header */
}

.beerLogo {
    
    width: 199px;
    height: 167px;
}

.schoolLogo {

    width: 199px;
    height: 167px;
}



.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    padding-bottom: 0;
}

.title {
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 88px;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.navbar-buttons {
    padding-top: 120px;
    display: flex;
}

.navbar-buttons button {
    padding: 10px 20px;
    margin-right: 0; /* Remove margin between buttons */
    border: none;
    background-color: #d9d9d9;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.navbar-buttons button:not(:last-child) {
    border-right: 2px solid #000000;
}


#pages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items horizontally */
    margin: 32px auto;

    box-sizing: border-box; /* Include padding and border in the width */
}

.page{
    margin: 4px;
    
}

.page-frame{
    width: 292px;
    height: 345px;
    border: 6px solid #661122; /* Add a border around the page-frame */
    box-sizing: border-box; /* Include border in the specified width and height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-img{
    width: 100%; /* Set the image width to 100% of its container (page-frame) */
    height: 100%; /* Set the image height to 100% of its container (page-frame) */
    background-size: cover; /* Ensure the background image covers the entire div */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-image: url('../images/beer-logo.png');
}

.page-num{
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 8px;
}

/* Media query for tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #header {
        max-width: 100vw; /* Adjust max width for tablets */
        min-width: 325px;
        height: 15vw; /* Adjust height for tablets */
        min-height: 40px;
    }

    .beerLogo, .schoolLogo {
        width: 17vw; /* Adjust logo size for tablets */
        height: 15vw; /* Maintain aspect ratio */
    }

    .title {
        font-size: 8vw; /* Adjust title font size for tablets */
        margin-top: 1vw;
    }

    .navbar-buttons {
        padding-top: 0.5vw;
        margin-top: 10vw;
    }

    .navbar-buttons button {
        padding: 1.0vw 1.6vw; /* Adjust button padding for tablets */
        font-size: 2.3vw; /* Adjust button font size for tablets */
    }
}

/* Media query for smaller screens */
@media screen and (max-width: 767px) {
    #header {
        max-width: 100vw; /* Adjust max width for smaller screens */
        min-width: 325px;
        height: 18vw; /* Adjust height for smaller screens */
        min-height: 40px;
    }

    .beerLogo, .schoolLogo {
        width: 20vw; /* Adjust logo size for smaller screens */
        height: 18vw; /* Maintain aspect ratio */
    }

    .title {
        font-size: 9vw; /* Adjust title font size for smaller screens */
        margin-top: 6vw;
    }

    .navbar-buttons {
        padding-top: 1vw;
        margin-top: 10vw;
    }

    .navbar-buttons button {
        padding: 1.5vw 1vw; /* Adjust button padding for smaller screens */
        font-size: 3.0vw; /* Adjust button font size for smaller screens */
    }
}

